<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 mb-4">
			<h4>Staff Course Offerings</h4>
			<p>
				The following course offerings that you are a staff member of, and already have exams set up. You can now manage their exams. You can add more courses you are a staff member of by clicking the button below.
			</p>

			<table class="table table-bordered table-stripped">
				<thead>
					<tr>
						<th></th>
						<th>Course Name</th>
						<th>Short Name</th>
						<th>Term</th>
					</tr>
				</thead>
				<tbody>
				<tr>
					<input type="hidden" name="course_id_or_something">
					<td class="text-center"><input type="checkbox"></td>
					<td>CS 61A Intro to Python</td>
					<td>CS61A</td>
					<td>Spring 25</td>
				</tr>
				<tr>
					<input type="hidden" name="course_id_or_something">
					<td class="text-center"><input type="checkbox"></td>
					<td>CS 61B JAVA type shii</td>
					<td>CS61B</td>
					<td>Spring 25</td>
				</tr>
				<tr>
					<input type="hidden" name="course_id_or_something">
					<td class="text-center"><input type="checkbox"></td>
					<td>CS 61C What even is RISC-V</td>
					<td>CS61C</td>
					<td>Spring 25</td>
				</tr>
				</tbody>
			</table>

			<div class="text-center">
				<a href="/offerings/new" class="btn btn-secondary">Import courses from canvas</a>
			</div>
		</div>


		<div class="col-12 row justify-content-center p-0 mb-4">
			<h4>Student Course Offerings</h4>
			<p>
				The following course offerings that you are a student of already have flextensions set up. You can now view your own seat assignments and exam schedule. If you expect to see a course here but it is not here, your course staff have not yet set up exams for the course yet in this system. Contact your course staff.
			</p>
			<div class="col-10">
				<div class="alert alert-warning">You are not a student in any course offerings with flextensions set up.</div>
			</div>

		</div>


		<div class="col-12 row justify-content-center p-0">
			<h4>Other Course Offerings</h4>
			<p>
			In the following course offerings you are neither a staff member nor a student, but exams have been set up. You cannot do anything with these offerings.
			</p>

			<div class="col-10">
				<div class="alert alert-warning">There are no other course offerings that support flextensions</div>
			</div>

		</div>
	</div>
</div>