<div class="container mt-4" role="region" aria-label="Welcome Content">
	<% if flash[:alert] %>
  		<div class="alert alert-danger text-center" role="alert">
    		<%= flash[:alert] %>
  		</div>
	<% end %>

	<div class="row">
		<div class="col-12">
			<h1 class="text-center">Welcome to Flextensions!</h1>
		</div>
		<div class="col-12">
			<p class="lead">
				One stop solution to manage and access extensions on assignments of all your Berkeley courses, for course staff and students.
			</p>
			<p>
				The app allows you to manage all your course extensions. As a course staff, you will be able to grant, monitor, and add extensions for your courses.
				As a student, you will be able to see your available assignment extensions.
			</p>
			<p>
				For detailed guidance on how to use the tool, please refer to the <a href="https://github.com/cs169/flextensions/wiki/" target="_blank" class="accessible-link" aria-label="Open Wiki in new tab">Wiki</a>. Otherwise, please login to get started.
			</p>
		</div>
		<div class="col-12 text-center">
			<a href="/login" class="btn btn-secondary" role="button">Login</a>
		</div>
	</div>
</div>
