<div class="container mt-4">
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<div class="flx-card card shadow-sm mb-4">
				<div class="card-body text-center p-4">
					<h2 class="mb-4">Welcome to Flextensions!</h2>
					<p class="lead mb-3">
						One stop solution to manage and access extensions on assignments of all your Berkeley courses, for course staff and students.
					</p>
					<hr class="my-4">
					<p>
						The app allows you to manage all your course extensions. As a course staff, you will be able to grant, monitor, and add extensions for your courses.
						As a student, you will be able to see your available assignment extensions.
					</p>
					<p class="mb-4">
						For detailed guidance on how to use the tool, please refer to the <a href="https://github.com/cs169/flextensions/wiki/" target="_blank">Wiki</a>. Otherwise, please login to get started.
					</p>
					<a href="/login" class="btn btn-primary btn-lg px-4">
						<i class="fas fa-sign-in-alt me-2"></i>Login
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
