<div class="container mt-4">
	<div class="row">
		<div class="col-12">
			<h1 class="text-center">Welcome to Flextensions!</h1>
		</div>
		<div class="col-12">
			<p class="strong">
				One stop solution to manage and access extensions on assignments of all your Berkeley courses, for course staff and students.
			</p>
			<p>
				The app allows you to manage all your course extensions. As a course staff, you will be able to grant, monitor, and add extensions for your courses.
				As a student, you will be able to see your available assignment extensions.
			</p>
			<p>
				For detailed guidance on how to use the tool, please refer to the <a class="accessible-link" href="https://github.com/cs169/flextensions/wiki/" target="_blank">Help Guide</a>. Otherwise, please login to get started.
			</p>
		</div>
		<div class="col-12 text-center">
			<a href="/login" class="btn btn-secondary testid-loginbutton">Login</a>
		</div>
	</div>
</div>
