<div class="container">
	<% if flash[:alert] %>
  		<div class="alert alert-danger text-center" role="alert">
    		<%= flash[:alert] %>
  		</div>
	<% end %>

	<div class="row">
		<div class="col-12">
			<h2 class="text-center">Welcome to Flextensions!</h2>
		</div>
		<div class="col-12">
			<p class="strong">
				One stop solution to manage and access extensions on assignments of all your Berkeley courses, for course staff and students.
			</p>
			<p>
				The app allows you to manage all your course extensions. As a course staff, you will be able to grant, monitor, and add extensions for your courses.
				As a student, you will be able to see your available assignment extensions.
			</p>
			<p>
				For detailed guidance on how to use the tool, please refer to the <a href="https://github.com/cs169/flextensions/wiki/" target="_blank">Wiki</a>. Otherwise, please login to get started.
			</p>
		</div>
		<div class="col-12 text-center">
			<a href="/login" class="btn btn-secondary">Login</a>
		</div>
	</div>
</div>
