<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flextensions Landing</title>
    <link rel="stylesheet" href="path-to-your-css-file.css"> <!-- Add your CSS file -->
</head>
<body>
    <main class="mdl-grid" style="justify-content: center;">
        <h2 class="mdl-cell mdl-cell--10-col" style="text-align:center;margin: 20px;">
            Welcome to the Flextensions Tool!
        </h2>
        <p class="mdl-cell mdl-cell--10-col" style="margin-bottom: 20px; font-size: 20px;">
            One stop solution to manage and access assignment extensions of all your Berkeley courses, for course staff and students.
        </p>
        <p class="mdl-cell mdl-cell--10-col">
            TODO: The app allows you to manage all your course exams. As a course staff, you will be able to create, edit and delete exams, rooms, seats, and student rosters, manage seating assignments, and email students about their assignments. As a student, you will be able to see your available assignments.
        </p>
        <div class="mdl-cell mdl-cell--10-col" style="display: flex; justify-content: center; align-items: center;">
            <a href="LOGIN_URL_HERE"
               class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Login
            </a>
        </div>
    </main>
</body>
</html>