<div class="container mt-4">
	<% if flash[:alert] %>
  		<div class="alert alert-danger text-center" role="alert">
    		<%= flash[:alert] %>
  		</div>
	<% end %>

	<div class="row">
		<div class="col-12">
			<h1 class="text-center">Welcome to Flextensions!</h1>
		</div>
		<div class="col-12">
			<p class="strong">
				One stop solution to manage and access extensions on assignments of all your Berkeley courses, for course staff and students.
			</p>
			<p>
				Flextensions allows you to manage all your assignment extensions.
				As a student, you will be able to easily request extensions for your assignments, and get notified if they are approved.
			</p>
			<p>
				For detailed guidance on how to use the tool, please refer to the <a href="https://berkeley-cdss.github.io/flextensions" target="_blank" class="accessible-link">documentation</a>. Otherwise, simply login to get started.
			</p>
		</div>
		<div class="col-12 text-center">
			<%= link_to 'Login', '/auth/canvas', class: 'btn btn-primary', id: 'login-button-index' %>
			<%# <a href="/login" class="btn btn-secondary" id="login-button-index">Login</a> %>
		</div>
	</div>
</div>
