<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-4">Flextensions Test Student Course / March 2025</h4>
            <ul class="nav nav-pills mb-3 justify-content-center" id="courses-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="course-default-tab" data-bs-toggle="pill" data-bs-target="#course-default" type="button" role="tab" aria-controls="course-default" aria-selected="false">General</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="course-form-tab" data-bs-toggle="pill" data-bs-target="#course-form" type="button" role="tab" aria-controls="course-form" aria-selected="true">Form</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="course-email-tab" data-bs-toggle="pill" data-bs-target="#course-email" type="button" role="tab" aria-controls="course-email" aria-selected="true">Email</button>
                </li>
            </ul>
            <form action="./">
                <div class="tab-content" id="courses-tabContent">
                    <div class="tab-pane fade show active" id="course-default" role="tabpanel" aria-labelledby="course-default-tab" tabindex="0">
                        <div class="mb-3 row justify-content-center">
                            <div class="col-11 form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="course-enable">
                                <label class="form-check-label h4" for="course-enable">Enable Students to request extensions</label>
                            </div>
                            <!--<div class="col-11 form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="ta-approve">
                                <label class="form-check-label" for="ta-approve">Extensions can be approved by TAs</label>
                            </div> -->
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <label for="auto-approve" class="col-sm-3 col-form-label">Auto approve within days </label>
                            <div class="col-sm-8">
                            <input type="number" min="1" step="1" class="form-control" id="auto-approve" placeholder="number of days">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <label for="auto-approve-dsp" class="col-sm-3 col-form-label">Auto approve within days (DSP) </label>
                            <div class="col-sm-8">
                            <input type="number" min="1" step="1" class="form-control" id="auto-approve-dsp" placeholder="number of days">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <label for="auto-approve-dsp" class="col-sm-3 col-form-label">Maximum requests to auto approve</label>
                            <div class="col-sm-8">
                            <input type="number" min="1" step="1" class="form-control" id="auto-approve-dsp" placeholder="number">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <label for="auto-reject" class="col-sm-3 col-form-label">Course Reply Email Address</label>
                            <div class="col-sm-8">
                            <input type="email" min="1" step="1" class="form-control" id="auto-reject" placeholder="example@email.com">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="course-form" role="tabpanel" aria-labelledby="course-form-tab" tabindex="0">
                        <div class="mb-3 row justify-content-center">
                            <div class="col-11 form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="course-enable">
                                <label class="form-check-label h4" for="course-enable">Enable Students to request extensions</label>
                            </div>
                            <!--<div class="col-11 form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="ta-approve">
                                <label class="form-check-label" for="ta-approve">Extensions can be approved by TAs</label>
                            </div> -->
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <label for="auto-approve" class="col-sm-3 col-form-label">Auto approve within days </label>
                            <div class="col-sm-8">
                            <input type="number" min="1" step="1" class="form-control" id="auto-approve" placeholder="number of days">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <label for="auto-approve-dsp" class="col-sm-3 col-form-label">Auto approve within days (DSP) </label>
                            <div class="col-sm-8">
                            <input type="number" min="1" step="1" class="form-control" id="auto-approve-dsp" placeholder="number of days">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <label for="auto-approve-dsp" class="col-sm-3 col-form-label">Maximum requests to auto approve</label>
                            <div class="col-sm-8">
                            <input type="number" min="1" step="1" class="form-control" id="auto-approve-dsp" placeholder="number">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <label for="auto-reject" class="col-sm-3 col-form-label">Course Reply Email Address >= <span title="Auto reject the extension if days greater than or equal to">?</span></label>
                            <div class="col-sm-8">
                            <input type="email" min="1" step="1" class="form-control" id="auto-reject" placeholder="example@email.com">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a href="../" class="btn btn-dark">Back</a>
                    <input type="submit" class="btn btn-success" value="Save Settings" />
                    <input type="submit" class="btn btn-info" value="Sync Assignments" />
                </div>
            </form>
        </div>
    </div>
</div>