<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 mb-4">
      <h4>Staff Course Offerings</h4>
      <p>
        The following course offerings are those where you are a staff member. You can now manage their exams. You can add more courses by clicking the button below.
      </p>

      <% if @teacher_courses.any? %>
        <ul class="list-group">
          <% @teacher_courses.each do |user_to_course| %>
            <li class="list-group-item">
              <strong>Name:</strong> <%= user_to_course.course.course_name %> |
              <strong>Course:</strong> <%= user_to_course.course.course_code %> |
              <strong>Role:</strong> <%= user_to_course.role.capitalize %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="alert alert-warning">You are not an instructor in any course offerings with flextensions set up.</div>
      <% end %>

      <div class="text-center mt-3">
        <a href="/courses/new" class="btn btn-secondary">Import courses from Canvas</a>
        <%= button_to 'Delete All Courses', delete_all_courses_path, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete all your courses and associations?' } %>
      </div>
    </div>

    <div class="col-12 mb-4">
      <h4>Student Course Offerings</h4>
      <p>
        The following course offerings that you are a student of already have flextensions set up. You can now view your own seat assignments and exam schedule. If you expect to see a course here but it is not here, your course staff have not yet set up exams for the course yet in this system. Contact your course staff.
      </p>
      <div class="col-10">
        <div class="alert alert-warning">You are not a student in any course offerings with flextensions set up.</div>
      </div>
    </div>
  </div>
</div>