<%= render "layouts/sidebar" %>
<div class="container mt-4">
	<div class="row">
		<div class="col-12">
			<h4 class="mb-4">Flextensions Test Student Course / March 2025</h4>
			<table class="table table-bordered table-striped" id="assignments-table">
				<thead>
					<tr class="table-info">
						
						<th>Assignment</th>
						<th>View</th>
						<th>Due Date</th>
						<th>Late Due Date</th>
						<th style="width: 50px;">Enable</th>
					</tr>
				</thead>
				<tbody>
				<tr>
					<input type="hidden" class="assignment-id" name="assignment_id_or_something">
					<td class="row-check">Homework 1</td>
					<td> <a href="#">bCourses</a></td>
					<td class="row-check">2025-03-27</td>
					<td class="row-check">2025-03-27</td>
					<td class="self-check text-center">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="assignment-1-has-partner">
							<label class="form-check-label" for="assignment-1-has-partner"></label>
						</div>
					</td>
					
				</tr>
				<tr>
					<input type="hidden" class="assignment-id" name="assignment_id_or_something">
					<td class="row-check">Homework 2</td>
					<td> <a href="#">bCourses</a></td>
					<td class="row-check">2025-04-04</td>
					<td class="row-check">2025-04-04</td>
					<td class="self-check text-center">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="assignment-2-has-partner">
							<label class="form-check-label" for="assignment-2-has-partner"></label>
						</div>
					</td>
					
				</tr>
				<tr>
					<input type="hidden" class="assignment-id" name="assignment_id_or_something">
					<td class="row-check">Homework 3</td>
					<td> <a href="#">bCourses</a></td>
					<td class="row-check">2025-04-11</td>
					<td class="row-check">2025-04-11</td>
					<td class="self-check text-center">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="assignment-3-has-partner">
							<label class="form-check-label" for="assignment-3-has-partner"></label>
						</div>
					</td>
					
				</tr>
				<tr>
					<input type="hidden" class="assignment-id" name="assignment_id_or_something">
					<td class="row-check">Project 1</td>
					<td> <a href="#">bCourses</a></td>
					<td class="row-check">2025-04-11</td>
					<td class="row-check">2025-04-11</td>
					<td class="self-check text-center">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="assignment-4-has-partner">
							<label class="form-check-label" for="assignment-4-has-partner"></label>
						</div>
					</td>
					
				</tr>
				<tr>
					<input type="hidden" class="assignment-id" name="assignment_id_or_something">
					<td class="row-check">Homework 4</td>
					<td> <a href="#">bCourses</a></td>
					<td class="row-check">2025-04-16</td>
					<td class="row-check">2025-04-16</td>
					<td class="self-check text-center">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="assignment-5-has-partner">
							<label class="form-check-label" for="assignment-5-has-partner"></label>
						</div>
					</td>
					
				</tr>
				<tr>
					<input type="hidden" class="assignment-id" name="assignment_id_or_something">
					<td class="row-check">Homework 5</td>
					<td> <a href="#">bCourses</a></td>
					<td class="row-check">2025-04-21</td>
					<td class="row-check">2025-04-21</td>
					<td class="self-check text-center">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="assignment-6-has-partner">
							<label class="form-check-label" for="assignment-6-has-partner"></label>
						</div>
					</td>
					
				</tr>
				<tr>
					<input type="hidden" class="assignment-id" name="assignment_id_or_something">
					<td class="row-check">Project 2A</td>
					<td> <a href="#">bCourses</a></td>
					<td class="row-check">2025-04-21</td>
					<td class="row-check">2025-04-21</td>
					<td class="self-check text-center">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="assignment-7-has-partner">
							<label class="form-check-label" for="assignment-7-has-partner"></label>
						</div>
					</td>
					
				</tr>
				<tr>
					<input type="hidden" class="assignment-id" name="assignment_id_or_something">
					<td class="row-check">Project 2B</td>
					<td> <a href="#">bCourses</a></td>
					<td class="row-check">2025-04-28</td>
					<td class="row-check">2025-04-28</td>
					<td class="self-check text-center">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="assignment-8-has-partner">
							<label class="form-check-label" for="assignment-8-has-partner"></label>
						</div>
					</td>
					
				</tr>
				<tr>
					<input type="hidden" class="assignment-id" name="assignment_id_or_something">
					<td class="row-check">Homework 6</td>
					<td> <a href="#">bCourses</a></td>
					<td class="row-check">2025-05-03</td>
					<td class="row-check">2025-05-03</td>
					<td class="self-check text-center">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="assignment-9-has-partner">
							<label class="form-check-label" for="assignment-9-has-partner"></label>
						</div>
					</td>
					
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>