<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-4">Flextensions Test Student Course / March 2025</h4>
            <ul class="nav nav-pills mb-3 justify-content-center" id="courses-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="course-assignments-tab" data-bs-toggle="pill" data-bs-target="#course-assignments" type="button" role="tab" aria-controls="course-assignments" aria-selected="false">Assignments</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="course-settings-tab" data-bs-toggle="pill" data-bs-target="#course-settings" type="button" role="tab" aria-controls="course-settings" aria-selected="true">Settings</button>
                </li>
            </ul>
            <form action="./">
                <div class="tab-content" id="courses-tabContent">
                    <div class="tab-pane fade show active" id="course-assignments" role="tabpanel" aria-labelledby="course-assignments-tab" tabindex="0">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr class="table-info">
                                    <th class="text-center"><input type="checkbox"></th>
                                    <th>Assignment Name</th>
                                    <th>Due Date</th>
                                    <th>Has Partner</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <input type="hidden" class="assignment-id" name="assignment_id_or_something">
                                <td class="text-center"><input type="checkbox"></td>
                                <td class="row-check">Homework 1</td>
                                <td class="row-check">2025-03-27</td>
                                <td class="self-check">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="assignment-1-has-partner">
                                        <label class="form-check-label" for="assignment-1-has-partner"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <input type="hidden" class="assignment-id" name="assignment_id_or_something">
                                <td class="text-center"><input type="checkbox"></td>
                                <td class="row-check">Homework 2</td>
                                <td class="row-check">2025-04-04</td>
                                <td class="self-check">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="assignment-2-has-partner">
                                        <label class="form-check-label" for="assignment-2-has-partner"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <input type="hidden" class="assignment-id" name="assignment_id_or_something">
                                <td class="text-center"><input type="checkbox"></td>
                                <td class="row-check">Homework 3</td>
                                <td class="row-check">2025-04-11</td>
                                <td class="self-check">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="assignment-3-has-partner">
                                        <label class="form-check-label" for="assignment-3-has-partner"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <input type="hidden" class="assignment-id" name="assignment_id_or_something">
                                <td class="text-center"><input type="checkbox"></td>
                                <td class="row-check">Project 1</td>
                                <td class="row-check">2025-04-11</td>
                                <td class="self-check">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="assignment-4-has-partner">
                                        <label class="form-check-label" for="assignment-4-has-partner"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <input type="hidden" class="assignment-id" name="assignment_id_or_something">
                                <td class="text-center"><input type="checkbox"></td>
                                <td class="row-check">Homework 4</td>
                                <td class="row-check">2025-04-16</td>
                                <td class="self-check">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="assignment-5-has-partner">
                                        <label class="form-check-label" for="assignment-5-has-partner"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <input type="hidden" class="assignment-id" name="assignment_id_or_something">
                                <td class="text-center"><input type="checkbox"></td>
                                <td class="row-check">Homework 5</td>
                                <td class="row-check">2025-04-21</td>
                                <td class="self-check">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="assignment-6-has-partner">
                                        <label class="form-check-label" for="assignment-6-has-partner"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <input type="hidden" class="assignment-id" name="assignment_id_or_something">
                                <td class="text-center"><input type="checkbox"></td>
                                <td class="row-check">Project 2A</td>
                                <td class="row-check">2025-04-21</td>
                                <td class="self-check">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="assignment-7-has-partner">
                                        <label class="form-check-label" for="assignment-7-has-partner"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <input type="hidden" class="assignment-id" name="assignment_id_or_something">
                                <td class="text-center"><input type="checkbox"></td>
                                <td class="row-check">Project 2B</td>
                                <td class="row-check">2025-04-28</td>
                                <td class="self-check">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="assignment-8-has-partner">
                                        <label class="form-check-label" for="assignment-8-has-partner"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <input type="hidden" class="assignment-id" name="assignment_id_or_something">
                                <td class="text-center"><input type="checkbox"></td>
                                <td class="row-check">Homework 6</td>
                                <td class="row-check">2025-05-03</td>
                                <td class="self-check">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="assignment-9-has-partner">
                                        <label class="form-check-label" for="assignment-9-has-partner"></label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="course-settings" role="tabpanel" aria-labelledby="course-settings-tab" tabindex="0">
                        <div class="mb-3 row justify-content-center">
                            <div class="col-11 form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="enable">
                                <label class="form-check-label" for="enable">Enable <span title="Enable flextensions for this course">?</span></label>
                            </div>
                            <div class="col-11 form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="ta-approve">
                                <label class="form-check-label" for="ta-approve">Extensions can be approved by TAs</label>
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <label for="auto-approve" class="col-sm-3 col-form-label">Auto approve <= <span title="Auto approve the extension if days less than or equal to">?</span></label>
                            <div class="col-sm-8">
                            <input type="number" min="1" step="1" class="form-control" id="auto-approve" placeholder="number of days">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <label for="auto-approve-dsp" class="col-sm-3 col-form-label">Auto approve <= (DSP) <span title="Auto approve the extension if days less than or equal to">?</span></label>
                            <div class="col-sm-8">
                            <input type="number" min="1" step="1" class="form-control" id="auto-approve-dsp" placeholder="number of days">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <label for="auto-reject" class="col-sm-3 col-form-label">Auto reject >= <span title="Auto reject the extension if days greater than or equal to">?</span></label>
                            <div class="col-sm-8">
                            <input type="number" min="1" step="1" class="form-control" id="auto-reject" placeholder="number of days">
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <p class="col-11 text-left"> Extend using: (bCourses only)</p>
                            <div class="col-10 form-check form-switch">
                                <input class="form-check-input" type="radio" name="extend-using-date" role="switch" id="use-date-due" checked>
                                <label class="form-check-label" for="use-date-due">Due Date</label>
                            </div>
                            <div class="col-10 form-check form-switch">
                                <input class="form-check-input" type="radio" name="extend-using-date" role="switch" id="use-date-available">
                                <label class="form-check-label" for="use-date-available">Available Date</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a href="../" class="btn btn-dark">Back</a>
                    <input type="submit" class="btn btn-success" value="Save Settings" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  // Select the header checkbox (in the thead) and its containing cell
  const headerCheckbox = document.querySelector('table thead input[type="checkbox"]');
  const headerCell = document.querySelector('table thead th:first-of-type');

  // Select all table rows within the assignments table
  const assignmentRows = document.querySelectorAll('table tbody tr');

  // When header checkbox is clicked, toggle all main checkboxes in tbody (do NOT modify partner checkboxes)
  if (headerCheckbox) {
    headerCheckbox.addEventListener('click', function(e) {
      const isChecked = headerCheckbox.checked;
      assignmentRows.forEach(row => {
        const mainCheckbox = row.querySelector('td:first-of-type input[type="checkbox"]');
        if (mainCheckbox) {
          mainCheckbox.checked = isChecked;
        }
      });
    });
  }

  // Allow clicking the header cell (first th) to toggle the header checkbox
  if (headerCell && headerCheckbox) {
    headerCell.style.cursor = 'pointer';
    headerCell.addEventListener('click', function(e) {
      if (e.target !== headerCheckbox) {
        headerCheckbox.checked = !headerCheckbox.checked;
        // Manually dispatch a click event on headerCheckbox to update tbody main checkboxes
        headerCheckbox.dispatchEvent(new Event('click'));
      }
    });
  }

  assignmentRows.forEach(row => {
    // Use first-of-type to select the main checkbox
    const mainCheckbox = row.querySelector('td:first-of-type input[type="checkbox"]');
    // Get all cells in this row
    const cells = row.querySelectorAll('td');

    // Add click event on the first cell to toggle the main checkbox
    if (cells[0] && mainCheckbox) {
      cells[0].style.cursor = 'pointer';
      cells[0].addEventListener('click', function(e) {
        if (e.target !== mainCheckbox) {
          mainCheckbox.checked = !mainCheckbox.checked;
        }
      });
    }

    // For the assignment name cell (second cell)
    if (cells[1] && mainCheckbox) {
      cells[1].style.cursor = 'pointer';
      cells[1].addEventListener('click', function() {
        mainCheckbox.checked = !mainCheckbox.checked;
      });
    }

    // For the due date cell (third cell)
    if (cells[2] && mainCheckbox) {
      cells[2].style.cursor = 'pointer';
      cells[2].addEventListener('click', function() {
        mainCheckbox.checked = !mainCheckbox.checked;
      });
    }

    // For the 'has partner' cell (fourth cell)
    if (cells[3]) {
      cells[3].style.cursor = 'pointer';
      const partnerCheckbox = cells[3].querySelector('input[type="checkbox"]');
      cells[3].addEventListener('click', function(e) {
        // Prevent double toggle when clicking directly on the partner checkbox
        if (e.target !== partnerCheckbox && partnerCheckbox) {
          partnerCheckbox.checked = !partnerCheckbox.checked;
        }
      });
    }
  });
});
</script>