/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * // require_tree .
 *= require_self
 */
 $primary: #002676;
 $secondary: #fdb515;
 @import "bootstrap";
 @import "custom_bootstrap";
 @import "font-awesome";

.table-responsive {
  max-width: 100%; /* Ensure the table does not exceed the container width */
  overflow-x: auto; /* Add horizontal scrolling if the table is too wide */
}

.table {
  table-layout: auto; /* Allow columns to adjust their width automatically */
  word-wrap: break-word; /* Prevent text from overflowing in table cells */
}