<li class="nav-item">
  <%= link_to path, class: "nav-link d-flex align-items-center #{active ? 'active' : 'link-body-emphasis'}" do %>
    <div class="sidebar-icon-container">
      <i class="<%= icon %> fa-fw me-3"></i>
    </div>
    <span class="sidebar-text"><%= text %></span>
  <% end %>
</li> 