name: Cucumber Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  cucumber:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
    env:
      DB_USER: postgres
      DB_PASSWORD: password
      RAILS_ENV: test
      RUBY_ENV: test
      RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
      CANVAS_URL: http://bcourses.test.instructure.com/
      
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.3.0
        bundler-cache: true
    - name: Install Dependencies
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
    - name: Setup Database
      run: |
        bundle exec rails db:create
        bundle exec rails db:migrate
    - name: Create Chrome data directory
      run: mkdir -p /tmp/chrome-data-cucumber
    - name: Run Non-JavaScript Cucumber Tests
      run: |
        bundle exec cucumber features/ --tags 'not @skip and not @wip and not @javascript and not @a11y' --profile rack_test
      env:
        COVERAGE: "true"
        CI: "true"
    - name: Run JavaScript Cucumber Tests
      run: |
        bundle exec cucumber features/ --tags '@javascript and not @skip and not @wip and not @a11y' --profile selenium_chrome_headless
      env:
        CHROME_DATA_DIR: /tmp/chrome-data-cucumber
        COVERAGE: "true"
        CI: "true" 