name: swagger

on: push

jobs:
  swagger:
    runs-on: ubuntu-latest
    name: Swagger Editor Validator Service
    services:
      swagger-editor:
        image: swaggerapi/swagger-editor:next-v5
        ports:
          - 80:8080
    steps:
      - uses: actions/checkout@v2
      - name: Validate Swagger Spec 
        uses: char0n/swagger-editor-validate@v1
        with:
          definition-file: app/assets/swagger/swagger.json
          ignore-error: app/assets/swagger/shouldIgnoreError.js
