<footer class="d-flex flex-wrap justify-content-between px-4 py-3 bg-primary text-white ">
		<p class="col-md-4">
			&copy; <%= Time.current.year %> Regents of the University of California and respective authors.
		</p>
		<p class="col-md-4 me-md-auto" style="text-align: center;">
				💛 Proudly made by &nbsp;<a href="https://github.com/berkeley-cdss/flextensions/" target="_blank" rel="noopener noreferrer" class="text-white">UC Berkeley students and faculty</a>
		</p>
		<p class="col-md-4" style="text-align: end;">
			<a target="_blank" class="text-white" href="https://dap.berkeley.edu/get-help/report-web-accessibility-issue">Accessibility</a>
			<span class="text-white px-2"> | </span>
			<a target="_blank" class="text-white" href="https://ophd.berkeley.edu/policies-and-procedures/nondiscrimination-policy-statement">Nondiscrimination</a>
			<span class="text-white px-2"> | </span>
			<a target="_blank" class="text-white" href="https://berkeley-cdss.github.io/flextensions/">Documentation</a>
		</p>
</footer>
