<<<<<<< HEAD
	<footer class="footer mt-auto py-3 bg-primary">
=======



		
	<footer class="footer fixed-bottom py-3 bg-primary">
>>>>>>> e65200b0638c7407a8067c47cef8d44f37af90ca
		<div class="container text-center">
			<span class="text-white">&copy; <%= Time.current.year %> Flextensions. All rights reserved.</span>
  		</div>
	</footer>